<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/header :: headTag}"></div>
</head>

<body>
<header th:insert="~{fragments/header :: navigationBar(${user})}"></header>
<div class="row w-100 justify-content-center">
    <div class="col-lg-2"></div>
    <div class="col-lg-5 px-4 py-5 my-5 text-center bg-light rounded-3" >
        <div class="row justify-content-center">
            <div style="max-width: 500px">
                <h1 class="h3 mt-3 mb-5 fw-normal">회원가입</h1>
                <div class="my-2 form-floating">
                    <input type="email" class="form-control" id="username" placeholder="username">
                    <label for="username">이메일</label>
                </div>
                <div class="my-2 form-floating">
                    <input type="password" class="form-control" id="password" placeholder="password">
                    <label for="password">비밀번호</label>
                </div>
                <div class="my-2 form-floating">
                    <input type="nickname" class="form-control" id="nickname" placeholder="nickname">
                    <label for="nickname">닉네임</label>
                </div>
                <button class="my-4 w-100 btn btn-lg btn-primary" id="register">가입하기</button>
                <p class="mt-5 mb-3 text-muted">© 2022</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>


<script src="/js/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>